<input type = "text" placeholder="Search for Title" #title><br>
<button class = "primary" type="button" (click) ="searchByTitle(title.value)">
    Search
</button>

<h5 *ngIf="loading">
  Loading Content
</h5>
<table mat-table
       [dataSource]="games" multiTemplateDataRows
       class="mat-elevation-z8">

    <div *ngIf="!loading">
  <!-- @for (column of columnsToDisplay; track column) { -->
    <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let game"> {{game[column]}} </td>
    </ng-container>
  <!-- } -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let game">
      <button mat-icon-button aria-label="expand row" (click)="(selectedGame = selectedGame === game ? null : game); $event.stopPropagation()">
        <!-- @if (selectedGame === game) { -->
          <mat-icon *ngIf="selectedGame === game">keyboard_arrow_up</mat-icon>
        <!-- } @else { -->
          <mat-icon *ngIf="selectedGame !== game">keyboard_arrow_down</mat-icon>
        <!-- } -->
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let game" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-game-detail"
           [@detailExpand]="game == selectedGame ? 'expanded' : 'collapsed'">
           <div class="example-element-diagram">
              <img id="thumbnailImage" *ngIf="selectedGame!==null" src="{{selectedGame.imageURL}}" alt="{{selectedGame.title}}">
           </div>
        <div class="example-game-description">
          {{game.description}}
        <br>
          <button mat-flat-button color="primary" type="button" *ngIf="selectedGame" (click)="(addToUser(selectedGame))">
            Add
        </button>

        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let game; columns: columnsToDisplayWithExpand;"
      class="example-game-row"
      [class.example-expanded-row]="selectedGame === game"
      (click)="selectedGame = selectedGame === game ? null : game">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</div>
</table>
