<form class="login">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" #username>
      <mat-error *ngIf="!usernameFormControl.hasError('required') "></mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password1FormControl" [errorStateMatcher]="matcher" type=password #password1>
      <mat-error *ngIf="!password1FormControl.hasError('required') "></mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Re-Enter Password</mat-label>
        <input matInput [formControl]="password2FormControl" [errorStateMatcher]="matcher" type=password #password2>
        <mat-error *ngIf="!password2FormControl.hasError('required') "></mat-error>
      </mat-form-field>
      <h3 *ngIf="password1.value!=password2.value">Passwords do not match!</h3>
      <div matTooltip="Passwords cannot be empty!" [matTooltipDisabled]="!(password1.value=='' || password2.value=='')">
    <button  mat-stroked-button [disabled]="!(password1!=password2 && password1.value!='' && password2.value!='')" 
            color="primary" (click)="createAccount(username.value, password1.value)">
            Create Account</button>
    </div>
  </form>
