<main>
  <div class ='health-bar-nav'>
      <nav *ngIf="!userLoggedIn(); else logout"  >
      <button mat-button color="warn" routerLink="/">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button color="warn" routerLink="/games">Games </button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button color="warn" routerLink="/login">Login </button>
      </nav>
      <ng-template #logout>
        <button mat-button color="warn" routerLink="/">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-button color="warn" routerLink="/games">Games</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="warn" [matMenuTriggerFor]="menu">{{user?.username}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item color="warn" routerLink="/dashboard"> Dashboard</button>
          <button mat-menu-item color="warn" (click)="logOut()">Logout</button>
          </mat-menu>
      </ng-template>
    </div>
  </main>